---
const images = [
  "/images/hidropon1.jpg",
  "/images/hidropon2.jpg",
  "/images/hidropon3.jpg",
  "/images/hidropon4.jpg",
  "/images/hydroponic.jpg",
  // Agrega más rutas de imágenes según sea necesario
];
---

<div class="carousel w-full h-96 sm:h-112 lg:h-128 pt-20">
  {
    images.map((src, index) => (
      <div
        id={`slide${index + 1}`}
        class="carousel-item relative w-full hidden"
        class:list={{ active: index === 0 }}
      >
        <img
          src={src}
          class="w-full object-contain h-full"
          alt={`Slide ${index + 1}`}
        />
        <div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
          <button
            class="btn btn-circle"
            onclick={`navigateSlide(${index - 1})`}
          >
            ❮
          </button>
          <button
            class="btn btn-circle"
            onclick={`navigateSlide(${index + 1})`}
          >
            ❯
          </button>
        </div>
      </div>
    ))
  }
</div>

<!-- Este script se ejecutará solo en el cliente -->
<!-- // @ts-ignore -->
<script client:load>
  let currentSlide = 0;

  function navigateSlide(targetIndex) {
    const slides = document.querySelectorAll(".carousel-item");
    slides[currentSlide].classList.add("hidden");

    // Calculamos el índice de la nueva diapositiva asegurando el ciclo circular
    currentSlide = (targetIndex + slides.length) % slides.length;
    slides[currentSlide].classList.remove("hidden");
  }

  document.addEventListener("DOMContentLoaded", () => {
    const slides = document.querySelectorAll(".carousel-item");
    if (slides.length > 0) slides[0].classList.remove("hidden"); // Mostrar el primer slide
  });
</script>
